{{- $fonts    := site.Params.fonts }}
{{- $fontSlice := (slice) }}
{{- range $fonts }}
{{- $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{- end }}
{{- $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
{{- $sansSerifFont := (index (where site.Params.fonts ".type" "sans_serif") 0).name }}
{{- $fontAwesomeVersion := site.Params.fontawesomeversion }}
{{- $fontAwesomeUrl     := printf "https://use.fontawesome.com/releases/v%s/css/all.css" $fontAwesomeVersion }}

@charset "utf-8"
@import url({{ $fontsUrl }})
@import url({{ $fontAwesomeUrl }})

// in-toto variables
$in-toto-orange: #ed4b27
$in-toto-blue: #3688d6

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"
@import "bulma/sass/utilities/mixins"

// Bulma variable overrides
$primary: $in-toto-blue
$secondary: $in-toto-orange

@import "bulma/sass/utilities/derived-variables"
@import "bulma/bulma"

=responsive-img($mobile, $desktop)
  +mobile
    width: $mobile
  +desktop
    width: $desktop

.hero-logo
  +responsive-img(100%, 70%)

.footer-logo
  +responsive-img(50%, 30%)

.feature-image
  +responsive-img(80%, 50%)

hr.thick-hr
  width: 5rem
  background-color: $secondary
  height: .2rem

// Make footer stick to the bottom
.page
  display: flex
  flex-direction: column
  min-height: 100vh

  .main
    flex: 1
