@import 'td/code-dark';

.td-navbar {
  background-color: $primary !important;
  opacity: 1;
}

.td-navbar .navbar-brand {
  svg {
    height: 3rem;
    margin-left: 5rem;
  }
}

.td-home {
  .cncf {
    text-align: center;

    p {
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    img {
      width: 20rem;
      padding-top: 1rem;
      max-width: 80%;
    }

    a.external-link:after {
      display: none;
    }
  }
}
