@import 'csp';
@import 'news';
@import 'external_link';
@import 'td/code-dark';

.td-navbar .navbar-brand svg {
  height: 38px;
}

.td-home {
  .in-toto-logo {
    margin-top: 2rem;
    margin-bottom: 3rem;
    max-height: 12rem;
  }

  .cncf {
    text-align: center;

    p {
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    img {
      width: 20rem;
      padding-top: 1rem;
      max-width: 80%;
    }

    a {
      color: white;

      &.external-link:after {
        display: none;
      }
    }
  }
}
