{{ $logo := printf "img/logos/%s" site.Params.logos.footer | relURL }}
{{ $desc := site.Params.description }}
{{ $repo := printf "https://github.com/%s" site.Params.github_repo }}
{{ $firstYear   := "2020" | int }}
{{ $currentYear := now.Year | int }}
{{ $yearString  := cond (eq $firstYear $currentYear) $firstYear (printf "%d-%d" $firstYear $currentYear) }}
<footer class="footer has-background-black has-text-light">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-one-quarter">
        <img class="footer-logo" src="{{ $logo }}">
      </div>

      <div class="column">
        <p class="is-size-5 is-size-6-mobile has-text-weight-light">
          {{ $desc }}
        </p>

        <br />

        <a class="button is-radiusless is-black is-inverted is-outlined has-text-weight-bold" href="{{ $repo }}" target="_blank">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>
            GitHub
          </span>
        </a>

        <hr class="thick-hr" />
        <p class="has-text-weight-light">
          &copy; {{ $yearString }} in-toto Authors | Documentation Distributed under CC-BY-4.0
        </p>

        <br />

        <p class="has-text-weight-light">
          &copy; {{ $currentYear }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/" target="_blank">Trademark Usage</a> page.
        </p>

        <br/> 
        <p class="has-text-weight-light">
          This research was supported by the US National Science Foundation (NSF), the Defense Advanced Research Projects Agency (DARPA) and the Air Force Research Laboratory (AFRL). Any opinions, findings, and conclusions or recommendations expressed in this material are those of the authors and do not necessarily reflect the views of NSF, DARPA and AFRL. The United States Government is authorized to reproduce and distribute reprints notwithstanding any copyright notice herein.
        </p>
      </div>
    </div>
  </div>
</footer>
